*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px 20px;
    border: 1px solid rgb(160, 160, 160);
    width: 400px;
    box-shadow: 1px 0px 1px #888888;
}

#btn-submit {
    padding: 10px 20px;
    border: 1px solid violet;
    color: rgb(255, 255, 255);
    background-color: violet;
    text-transform: uppercase;
    border: 1px solid rgb(160, 160, 160);
}
    
input:focus , input:hover {
    outline: none !important;
    border: 1px solid violet;
    transition: 0.5s;
}

#btn-submit:hover {
    opacity: 0.8;
    transition: 0.5s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);;
    width: 500px;
    height: 60px;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px #888888;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: 0.5s;
}

.list__tittle {
    width: 70%;
}

main:hover > .list__item:hover{
    width: 600px;
    height: 80px;
    box-shadow: 0px 0px 4px #888888;
    transition: 0.5s;
    transition-delay: 0.2s;
}


.list__item:hover {
    background-color: violet;
}
i {
    padding: 0px 5px;
}